version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres_practicets
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: practicets
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
